/*--- Error messages ---*/
#error-messages-list {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 52;

    /*outline: red solid 1px;*/
}
.error-message-li {
    display: block;
    position: relative;
    border-left: 2px solid var(--themeBorderColor);
    border-right: 2px solid var(--themeBorderColor);
    font-size: 0.86rem;
    color: var(--themeReverseColor);
    padding: 10px;
    transition: 300ms ease;
    transition-property: color;
    background-color: var(--themeHoverColor);
}
.error-message-li:last-of-type {
    border-radius: 8px 8px 0 0;
    border-top: 2px solid var(--themeBorderColor);
}
.error-message-underline {
    position: absolute;
    width: 100%;
    bottom: 10px;
    right: 0;
    height: 2px;
    background-color: var(--primaryColor);
    transition: width 5000ms linear;
}


#mouse-table {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    margin: 102px auto;
    max-width: 99%;
    width: 1200px;
    border-collapse: collapse;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--themeReverseColor);
}

#mouse-table button {
    font-size: 1rem;
    font-weight: 500;
    color: var(--themeBackgroundColor);
    background-color: var(--themeReverseColor);
    cursor: pointer;
    width: 100%;
    padding: 12px 0.8vw;
    border: none;
    border-radius: 0;
    white-space: nowrap;
    position: relative;
}
#mouse-table button:focus-visible {
    color: var(--themeReverseColor);
    background-color: var(--themeHoverColor);
    z-index: 2;
}
#mouse-table button i {
    opacity: 0;
    font-size: 0.7rem;
}
#mouse-table button.string i {
    margin-left: 2px;
}
#mouse-table button.number i {
    margin-right: 3px;
}

#mouse-table .string {
    text-align: left;
}
#mouse-table .number {
    text-align: right;
}

#mouse-table tbody tr td {
    padding: 8px 0.8vw;
}
#mouse-table tbody tr:nth-of-type(even) {
    background-color: var(--themeHoverColor);
}

#screen-cover-filter {
    z-index: 49;
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(10,10,10,0.3);
    opacity: 0;
    transition: opacity 200ms;
}

#main-buttons-div {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 41px;
    left: 0;
    font-weight: 500;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
    z-index: 10;
}
.main-button {
    position: relative;
    border: none;
    font-size: 1.2rem;
    height: 50px;
    width: 50px;
    color: var(--themeReverseColor);
    background-color: var(--themeBackgroundColor);
    border-right: 2px solid var(--themeBorderColor);
    cursor: pointer;
    transition: 180ms ease;
    transition-property: background-color, color;
}
.main-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-button:last-of-type {
    border-bottom: 2px solid var(--themeBorderColor);
    border-radius: 0 0 4px 0;
}
.main-button span {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: var(--themeBackgroundColor);
    color: var(--themeReverseColor);
    border-radius: 6px;
    height: 100%;
    padding: 0 10px;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    transition: 180ms ease;
    z-index: -2;
}

#table-sort-div {
    display: none;
    flex-direction: column;
    width: 110px;
    height: 50px;
    padding: 5px;
    position: relative;
    transform: translate(-100%, -100%);
    background-color: var(--themeBackgroundColor);
    box-shadow: 5px 0 0 3px var(--themeBackgroundColor);
    border-radius: 4px;
    transition: 180ms ease;
    z-index: -1;
}
#table-sort-toggle-div,
#table-sort-select {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    width: 100%;
    height: 50%;
    position: absolute;
    color: var(--themeReverseColor);
    background-color: var(--themeBackgroundColor);
    border: 2px solid var(--themeBorderColor);
    transition: 180ms ease;
}
#table-sort-toggle-div:hover,
#table-sort-toggle-div:focus-visible,
#table-sort-select:hover,
#table-sort-select:focus-visible {
    background-color: var(--themeHoverColor);
}
#table-sort-toggle-div {
    top: 0;
    border-bottom-width: 1px;
    border-radius: 4px 4px 0 0;
}
#table-sort-toggle-div label {
    text-align: center;
    width: 100%;
    cursor: pointer;
}
#table-sort-toggle-div input {
    opacity: 0;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    pointer-events: none;
}
#table-sort-toggle-div input:focus-visible {
    opacity: 1;
}
#table-sort-select {
    bottom: 0;
    border-top-width: 1px;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
}
#table-sort-close {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    padding: 0 20px;
    border-radius: 4px;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    background-color: var(--themeHoverColor);
    z-index: -2;
    transition: 180ms ease;
}
#table-sort-close:focus-visible {
    opacity: 1;
    transform: translateX(100%);
}


#filter-main {
    transition: transform 200ms ease;
    transform: translateX(-110%);
    height: 100vh;
    max-width: 450px;
    width: 100vw;
    position: fixed;
    top: 41px;
    left: 0;
    background-color: var(--themeBackgroundColor);
    border-right: 2px solid var(--themeBorderColor);
    display: none;
    flex-direction: column;
    z-index: 50;
}
#filter-content {
    overflow-y: scroll;
    padding-bottom: 20vh;
}
#filter-content::-webkit-scrollbar {
    width: 0;
}



.filter-buttons-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px 32px;
    z-index: 10;
    background-color: var(--themeBackgroundColor);
}
.filter-buttons-div button {
    position: relative;
    font-size: 1rem;
    width: 90px;
    padding: 6px 32px 6px 12px;
    /*padding: 6px 32px 8px 12px;*/
    border-radius: 6px;
    color: var(--themeReverseColor);
    /*color: var(--themeBackgroundColor);*/
    border: none;
    outline: 2px solid var(--themeBorderColor);
    /*box-shadow: 0 3px 0 2px gray;*/
    /*box-shadow: 0 0 0 0 transparent;*/
    /*background-color: var(--themeHoverColor);*/
    background-color: var(--themeBackgroundColor);
    /*background-color: var(--themeReverseColor);*/
    cursor: pointer;
    transition: 180ms ease;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}
.filter-buttons-div button .icon-span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    margin-left: 5px;
}
.filter-buttons-div button .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms ease, color 180ms;
}
.filter-buttons-div button .fa-xmark {
    font-size: 1.1rem;
}

#filter-buttons-top {
    border-bottom: 2px solid var(--themeHoverColor);
}
#filter-buttons-bottom {
    position: fixed;
    bottom: 41px;
    border-top: 2px solid var(--themeHoverColor);
}

#filter-btn-collapse {
    width: 120px;
}

#filter-btn-keyboard-close {
    position: absolute;
    right: 0;
    top: 50%;
    height: 90%;
    transform: translate(0, -50%);
    border: 3px solid var(--primaryColor);
    padding-left: 0;
    padding-right: 0;
    z-index: -2;
    transition: 90ms ease;
    opacity: 0;
    pointer-events: none;
}
#filter-btn-keyboard-close:focus {
    z-index: 2;
    transform: translate(110%, -50%);
    opacity: 1;
    pointer-events: auto;
}






.filter-heading-btn {
    position: relative;
    z-index: 1;
    width: 100%;
    color: var(--themeReverseColor);
    background-color: var(--themeBackgroundColor);
    border: none;
    height: 64px;
    font-size: 1.05rem;
    font-weight: 500;
    display: block;
    cursor: pointer;
    transition: 180ms ease;
}
.filter-heading-btn:focus-visible {
    z-index: 2;
}
.filter-heading-btn:not(:first-of-type) {
    border-top: 2px solid var(--themeHoverColor);
}
.filter-heading-btn i {
    transition: color 180ms ease;
}
.filter-heading-btn span {
    position: absolute;
    left: 62px;
    top: 50%;
    transform: translateY(-50%);
}
.filter-heading-btn .category-icon {
    font-size: 1rem;
    position: absolute;
    font-weight: 900;
    top: 50%;
    left: 42px;
    transform: translate(-50%, -50%);
}
.filter-heading-btn .fa-angle-down {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    transition: 120ms linear;
    width: 20px;
    height: 20px;
}

.filter-expandable {
    padding: 0 32px 28px 32px;
    color: var(--themeReverseColor);
    display: none;
    transition: 180ms ease;
}



.filter-checkmarks {
    flex-direction: column;
}
.checkmark-option, .checkmarks-select-all {
    padding: 2px;
    position: relative;
    cursor: pointer;
}
.checkmark-option:not(:last-of-type) {
    border-bottom: 1px solid var(--themeHoverColor);
}
.checkmarks-select-all {
    font-weight: 500;
    border-bottom: 2px solid var(--themeBorderColor);
}

.checkmark-options-div {
    max-height: 35vh;
    overflow-y: scroll;
}
.checkmark-options-div::-webkit-scrollbar {
    width: 5px;
}
.checkmark-options-div::-webkit-scrollbar-track {
    background-color: transparent;
}
.checkmark-options-div::-webkit-scrollbar-thumb {
    background-color: var(--themeHoverColor);
}
.checkmark-options-div::-webkit-scrollbar-thumb:hover {
    background-color: var(--primaryColor);
}

.filter-checkmarks input {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--themeBackgroundColor);
    height: 16px;
    width: 16px;
    border-radius: 4px;
    border: 1px solid var(--themeBorderColor);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 90ms ease;
}
.filter-checkmarks input:after {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    font-size: 0.7rem;
    content: "\f00c";
    display: none;
    color: var(--primaryColor);
}
.filter-checkmarks input:checked:after {
    display: block;
}
.filter-checkmarks label {
    margin-left: 32px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}





.filter-dimensions-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 40px;
    margin-top: 2px;
    width: 100%;
}
#filter-dpi-div,
#filter-pollingRate-div {
    gap: 32px;
}
.filter-dimensions-div input::-webkit-outer-spin-button,
.filter-dimensions-div input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.filter-dimensions-div input[type=number] {
    -moz-appearance: textfield;
}
.filter-dimensions-div input {
    width: 46px;
    height: 32px;
    font-size: 0.9rem;
    text-align: center;
    background-color: var(--themeBackgroundColor);
    border: 2px solid var(--themeBorderColor);
    border-radius: 6px;
    color: var(--themeReverseColor);
    transition: 180ms ease;
}
#filter-dpi-div input,
#filter-pollingRate-div input {
    width: 58px;
}
.filter-dimensions-div input:hover {
    background-color: var(--themeHoverColor);
}
.filter-dimensions-div input:focus {
    outline: none;
    border-color: var(--primaryColor);
    background-color: var(--themeHoverColor);
    border-radius: 8px;
}
#slider-range-length,
#slider-range-width,
#slider-range-height,
#slider-range-weight,
#slider-range-dpi,
#slider-range-pollingRate {
    width: 100%;
    display: block;
    height: 4px;
    background: var(--themeHoverColor);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#slider-range-length .ui-slider-range,
#slider-range-width .ui-slider-range,
#slider-range-height .ui-slider-range,
#slider-range-weight .ui-slider-range,
#slider-range-dpi .ui-slider-range,
#slider-range-pollingRate .ui-slider-range {
    background: var(--themeReverseColor);
}
#slider-range-length .ui-slider-handle,
#slider-range-width .ui-slider-handle,
#slider-range-height .ui-slider-handle,
#slider-range-weight .ui-slider-handle,
#slider-range-dpi .ui-slider-handle,
#slider-range-pollingRate .ui-slider-handle {
    height: 18px;
    width: 18px;
    margin-top: -2px;
    border: 2px solid var(--themeBorderColor);
    background: var(--themeBackgroundColor);
    outline: 4px solid var(--themeBackgroundColor);
    border-radius: 50%;
    cursor: pointer;
    transition: border-color 180ms ease;
}
/* increases hoverable area */
#slider-range-length .ui-slider-handle::before,
#slider-range-width .ui-slider-handle::before,
#slider-range-height .ui-slider-handle::before,
#slider-range-weight .ui-slider-handle::before,
#slider-range-dpi .ui-slider-handle::before,
#slider-range-pollingRate .ui-slider-handle::before {
    content: '';
    position: absolute;
    border-radius: 12px;
    width: 200%;
    height: 380%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index:-1;
    /*outline: 1px solid purple;*/ /* enable to see hoverable area */
}
#slider-range-length .ui-slider-handle:hover,
#slider-range-width .ui-slider-handle:hover,
#slider-range-height .ui-slider-handle:hover,
#slider-range-weight .ui-slider-handle:hover,
#slider-range-dpi .ui-slider-handle:hover,
#slider-range-pollingRate .ui-slider-handle:hover,
#slider-range-length .ui-slider-handle:focus,
#slider-range-width .ui-slider-handle:focus,
#slider-range-height .ui-slider-handle:focus,
#slider-range-weight .ui-slider-handle:focus,
#slider-range-dpi .ui-slider-handle:focus,
#slider-range-pollingRate .ui-slider-handle:focus {
    border-color: var(--primaryColor);
}
/*#slider-range-length .ui-slider-handle:focus,
#slider-range-width .ui-slider-handle:focus,
#slider-range-height .ui-slider-handle:focus,
#slider-range-weight .ui-slider-handle:focus,
#slider-range-dpi .ui-slider-handle:focus,
#slider-range-pollingRate .ui-slider-handle:focus {
    border-color: var(--primaryColor);
}*/








.filter-checkbox-buttons {
    justify-content: space-between;
}
.filter-checkbox-buttons div {
    margin-top: 2px;
    width: 44%;
    height: 42px;
    position: relative;
}
.filter-checkbox-buttons input,
.filter-checkbox-buttons label {
    display: block;
    position: absolute;
}
.filter-checkbox-buttons label {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--themeBorderColor);
    box-shadow: 0 3px 0 0 gray;
    border-radius: 6px;
    background-color: var(--themeHoverColor);
    width: 100%;
    height: 100%;
    transition: 180ms ease;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}
.filter-checkbox-buttons input {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: -1;
}
.filter-checkbox-buttons input:focus-visible {
    z-index: 1;
}




#help-div {
    display: none;
    position: fixed;
    height: 82vh;
    width: 95vw;
    max-width: 700px;
    background-color: var(--themeBackgroundColor);
    border-radius: 8px;
    box-shadow: 0 0 15px 3px rgba(10,10,10,0.4);
    top: 50%;
    left: 50%;
    color: var(--themeReverseColor);
    transform: translate(-50%, 100%);
    transition: 400ms ease;
    z-index: 51;
}
#help-close {
    position: fixed;
    top: 12px;
    right: 12px;
    height: 26px;
    width: 26px;
    background-color: transparent;
    font-size: 1.2rem;
    border: none;
    color: var(--themeReverseColor);
    border-radius: 6px;
    opacity: 0.5;
    cursor: pointer;
    transition: 90ms ease;
    z-index: 52;
}
#help-move {
    display: none;
    left: 12px;
}
#help-close i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*#help-close:hover {
    opacity: 1;
    background-color: var(--themeHoverColor);
    color: red;
}*/
#help-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px 30px 0 40px;
    overflow-y: scroll;
    position: relative;
}
#help-content::-webkit-scrollbar {
    width: 10px;
}
#help-content::-webkit-scrollbar-track {
    background-color: transparent;
}
#help-content::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--themeHoverColor);
}
#help-content::-webkit-scrollbar-thumb:hover {
    background-color: var(--themeBorderColor);
}
#help-content h1 {
    text-align: center;
}
.help-content-div,
#help-content h2 {
    margin-top: 40px;
}
#help-content h3,
#help-content p {
    display: inline;
}
#help-content .img-div {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    background-color: gray;
    border-radius: 8px;
    padding: 20px 60px;
}
#help-content img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#help-content .link-span {
    font-size: 0.85rem;
}
#help-content a {
    color: var(--primaryColor);
}
#keyboard-close-help {
    opacity: 0;
    margin: 20px auto;
    font-size: 1.2rem;
    padding: 20px 100px;
    border: 5px solid var(--primaryColor);
    border-radius: 6px;
    background-color: var(--themeHoverColor);
    color: var(--themeReverseColor);
    transition: 180ms ease;
    z-index: -1;
}
#keyboard-close-help:focus {
    opacity: 1;
    z-index: 52;
}

























@media only screen and (max-width: 850px) {
    body {
        overflow-x: scroll;
    }

    #help-div {
        height: 100%;
        width: 100%;
        border-radius: 0;
        font-size: 0.9rem;
    }
    #help-close {
        top: 0;
        left: 0;
        height: 36px;
        width: 32px;
        border-radius: 0 0 6px 0;
        background-color: var(--themeBackgroundColor);
        opacity: 1;
    }
    #help-content {
        top: 36px;
        padding: 50px 10px 30px 16px;
    }
    #help-content::-webkit-scrollbar {
        width: 6px;
    }
    #help-content::-webkit-scrollbar-thumb {
        border-radius: 4px 0 0 4px;
        background-color: var(--themeReverseColor);
    }
    #help-div .img-div {
        height: 350px;
        padding: 15px 30px;
    }

    #error-messages-list {
        width: 100%;
    }
    .error-message-li { /* fix transitions and layout */
        border: none;
    }
    .error-message-li:last-of-type {
        border-top-width: 3px;
    }

    #mouse-table {
        margin-top: 50px;
        font-size: 0.82rem;
    }
    #mouse-table thead tr {
        font-size: 0.8rem;
        white-space: nowrap;
    }
    #mouse-table tbady {
        overflow-x: scroll;
    }
    #mouse-table thead tr td:first-of-type,
    #mouse-table tbody tr td:first-of-type {
        padding-left: 12px;
    }
    #mouse-table thead tr td:last-of-type,
    #mouse-table tbody tr td:last-of-type {
        padding-right: 10px;
    }

    #main-buttons-div {
        flex-direction: row;
        top: 0;
    }
    .main-button {
        height: 36px;
        width: 36px;
        position: relative;
        border: none;
    }
    .main-button:last-of-type {
        border-radius: 0;
        border: none;
    }
    /*#main-buttons-div button:hover {
        color: var(--themeReverseColor);
        background-color: inherit;
    }*/

    #filter-main {
        display: flex;
        top: 0;
        max-width: none;
        border: none;
    }
    .filter-buttons-div {
        justify-content: center;
        gap: 4vw;
        padding: 24px 0;
    }
    .filter-buttons-div button {
        font-size: 0.92rem;
        width: 80px;
        padding: 6px 0;
    }
    .filter-buttons-div button .icon-span {
        display: none;
    }

    #filter-buttons-bottom {
        position: sticky;
        bottom: 0;
    }
    #filter-btn-collapse {
        width: 84px;
    }

    .checkmark-option, .checkmarks-select-all {
        padding: 6px;
    }

    .filter-dimensions-div {
        gap: 6vw;
    }


    #slider-range-length .ui-slider-handle:hover,
    #slider-range-width .ui-slider-handle:hover,
    #slider-range-height .ui-slider-handle:hover,
    #slider-range-weight .ui-slider-handle:hover,
    #slider-range-dpi .ui-slider-handle:hover,
    #slider-range-pollingRate .ui-slider-handle:hover {
        border-color: var(--themeBorderColor);
    }
}